/*Ocultamos componentes generales*/
#header,
#footer,
#boton-wps2,
#boton-wps {
    display: none !important;
}

/* componentes generales*/
.tarjeta {

    padding: 2%;
}
body
{
    background-color: #F9FCFF !important;
    font: normal normal bold 3em Lato;
}

.buscador-icon
{
    color: rgb(25, 75, 113) !important;
    font-size: 1.4em;
}

.sec-0
{
    padding:4% 25% .8% 25%;
    width: 100%;
}

#buscador
{
    padding: .8% 2%;    
    background: #FFFFFF;
    
}
.form-label {
    font-size: 1.1em;

}

.sec-1
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    max-width: 60%;
    margin: 0 auto;
    padding: 2% 0% 7% 0%;
    font: normal normal bold  Lato;
    
}
.tarjeta
{

    padding: 4%;
}
.tarjeta:hover{
    background-color: whitesmoke;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border-radius: 1rem;
    transition: ease-in-out .4s;
    
}

.tarjeta > .bg
{
    height: 13rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.tarjeta > .title
{
    color: #13427A;
    font: normal normal bold 1.3em Lato;
    padding: 2% 0% 0% 0%;
    text-align: left;
}

.tarjeta>.text {
    color: #13427A;
    font: lighter 1.2em Lato;
    padding: 2% 0% 0% 0%;
    text-align: left;
}

.tarjeta>.btn {
 background-color: #13427A;
 color: azure;
 width: 100%;
 font-size: 1.2em;
 padding:3% 0%;
 max-width: 100%;
 border-radius: 10px;
font: bolder 1.3em Lato;
border-radius: 10px;
    opacity: 1;
}

.tarjeta>.btn:hover {
    color: #13427A;
    border:2px solid #13427A;

}

.tarjeta > .iconos  
{
    background: #000000a7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 2% 0%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 45%;
    right: -32%;
    display: grid;
    align-content: center;
    align-self: center;
}

.tarjeta>.iconos h5{
   
    color: #FFFFFF;
font: normal 1.25em Lato;
}

/*Laptos dimensiones*/
@media screen and (max-width:1650px) {

        .sec-0 {
            padding: 4% 17% 1.5% 17%;
            width: 100%;
           
        }

.sec-1 {
    grid-gap: 5%;
    max-width: 75%;
    margin: 0 auto;
    padding: 2% 0% 10% 0%;
}

.tarjeta>.title {
    font: normal normal bold 1.1em Lato;
    padding: 0 0% 0% 0% !important;
    margin: 0 !important;
}

.tarjeta>.text {
    font: lighter 1.1em Lato;
    padding: 4% 0% 5% 0%;
    margin: 0 !important;
}
.tarjeta>.bg {
    height: 11rem;
    
    border-radius: 15px;
}
.tarjeta>.btn {
    background-color: #13427A;
    color: azure;
    width: 100%;
   
    padding: 3% 0%;
    max-width: 100%;
    border-radius: 10px;
    font: bolder 1.1em Lato;
    border-radius: 10px;
    opacity: 1;
}
.tarjeta>.iconos {
    background: #000000a7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 0% 0%;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    position: relative;
    bottom: 42%;
    right: -45%;
    display: grid;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.tarjeta>.iconos h5 {

    align-items: center;
    color: #FFFFFF;
    font: normal 1em Lato;
}
}

/*Tablets dimensiones*/
@media screen and (max-width:1100px) {

    .sec-0 {
            padding: 4% 20% 2.5% 20%;
            width: 100%;
                
        }
 .sec-1 {
     grid-gap: 7%;
     max-width: 70%;
    grid-template-columns: repeat(2, 1fr);
 }
 
}

/*Celulares dimensiones*/
@media screen and (max-width:750px) {
    .sec-0 {
            padding: 8% 5% 5% 5%;
            width: 100%;
            box-sizing: border-box;
        }
    
        .sec-1 {
            grid-gap: 1%;
            max-width: 85%;
            grid-template-columns: repeat(1, 1fr);
         
            box-sizing: border-box;
            padding: 2% 0% 20% 0% !important;
        }

.tarjeta>.text {
    font: lighter 1em Lato;
    padding: 4% 0% 5% 0%;
    margin: 0 !important;
}

.tarjeta>.bg {
    height: 11rem;
    border-radius: 15px;
}

.tarjeta>.btn {
    background-color: #13427A;
    color: azure;
    width: 100%;

    padding: 3% 0%;
    max-width: 100%;
    border-radius: 10px;
    font: bolder 1em Lato;
    border-radius: 10px;
    opacity: 1;
}

.tarjeta>.iconos {
    background: #000000a7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 0% 0%;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    position: relative;
    bottom: 42%;
    right: -45%;
    display: grid;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
}

.tarjeta>.iconos h5 {

    align-items: center;
    color: #FFFFFF;
    font: normal .9em Lato;
}
}