/*Ocultamos componentes generales*/
#header,
#footer,
#boton-wps2,
#boton-wps {
    display: none !important;
}

/* componentes generales*/

body,.ebooks {
    padding: 0;
    margin: 0;
}

#ebooks>header {

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 10;
    box-sizing: border-box;
    padding-left: 15%;
    background-color: #ffffff;
}

#ebooks header img {
    padding: .7% 0%;
    width: 25%;
    height: auto;
    z-index: 1;
    box-sizing: border-box;
}

.ebooks1 {
    width: 100%;
    padding: 2% 0% 8% 15%;
    background: transparent linear-gradient(180deg, var(--unnamed-color-13427a) 0%, #1756A1 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #13427A 0%, #1756A1 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    box-sizing: border-box;
}

.ebooks1 h1 {
    text-align: left;
    font: normal normal bold 3em Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 55%;
}

.ebooks1 p {
    width: 45%;
    text-align: left;
    font: normal normal 300 1.3em Lato;
    letter-spacing: 0px;
    color: rgb(232, 230, 230);
    opacity: 1;
    line-height: 1.7em;
}

.ebooks2 {
    width: 100%;
    background-color: #FFFFFF;
    backface-visibility: hidden !important;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0% 0% 2% 15%;
    box-sizing: border-box;
    grid-gap: 5%;
}


.tarjeta {
    padding: 2% 0% 5% 2%;
    background: #F9FCFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004D;
    border-radius: 10px;
    opacity: 1;
    max-width: 70%;
    display: grid;
    justify-content: center;
    position: relative;
    margin-top: -12%;
    height: 70%;
}

.tarjeta h2 {

    text-align: center;
    font: normal normal bold 2em Lato;
    color: #13427A;
}

.tarjeta ul {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding: 5% 0%;
    padding: 0% 13% 5% 8%;
}

.tarjeta li {
    font-weight: 500 !important;
    text-align: left;
    font: 1.3em Lato;
    color: #13427A;
    padding-bottom: 3%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.tarjeta span {
    color: #FFFFFF;
    background: #13427A;
    font-size: .6em !important;
    padding: .5% 1.4%;
    border-radius: 50%;
    font-weight: 700 !important;
    margin-right: 1%;
    box-sizing: border-box;
}

.tarjeta img {

    background: #F9FCFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004D;
    border-radius: 10px;
    opacity: 1;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    width: 70%;
}

.ebooks2 form {
    padding: 1% 0%;
    background: #F9FCFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004D;
    border-radius: 10px;
    opacity: 1;
    width: 25%;
    display: grid;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    right: 10%;
}

.ebooks2 form h2 {
    text-align: center;
    font: normal normal bold 2.7em Lato;
    letter-spacing: 0px;
    color: #EA5329;
    opacity: 1;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.ebooks2 form h3 {
    text-align: center;
    font: normal normal bold 1.3em Lato;
    letter-spacing: 0px;
    color: #EA5329;
    opacity: 1;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.ebooks2 form p {
    text-align: center;
    font: normal 1em Lato;
    letter-spacing: 0px;
    color: #13427A;
    text-transform: uppercase;
    opacity: 1;
    padding: 5% 0%;
    margin: 0;
}

.form-gp {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    font: normal 1em Lato;
    align-items: center;
    padding: 2% 9%;
    box-sizing: border-box;
}

.input-gp {

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #13427A;
    border-radius: 5px;
    opacity: 1;
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font: normal 1.1em Lato;
    outline-color: #13427A;
    color: #1f2730;
}

.label-gp {
    font: normal 1.1em Lato;
    margin-bottom: 2%;
    color: #13427A;
    text-align: left;
}

.form-av {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    text-align: left;
    padding: 4% 5%;
    box-sizing: border-box;
    align-content: center;
    grid-gap: 0;
}

#aviso {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#submitForm {
    padding: 3% 0%;
    text-align: center;
    background: #EA5329 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(255, 95, 9, 0.345) !important;
    font: normal normal 1em Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.ebooks3 {
    width: 100%;
    background-color: #13427A;
    backface-visibility: hidden !important;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding: 1.5%;
}

.ebooks3 h5 {
    color: #FFFFFF;
    font: normal 1.1em Lato;
    text-align: center;
    padding: 0;
    margin: 0;
}

.ebooks3 h5 a {
    color: #FFFFFF;
    text-decoration: none;
}

/*Laptos dimensiones*/
@media screen and (max-width:1650px) {

    #ebooks>header {

        padding-left: 8%;
    }

    #ebooks header img {
        padding: .4% 0%;
        width: 29%;
        height: auto;
        z-index: 1;
        box-sizing: border-box;
    }

    .ebooks1 {
        padding: 2% 0% 8% 7%;
    }

    .ebooks1 h1 {
        font: normal normal bold 2.5em Lato;
    }

    .ebooks1 p {
        width: 50%;
        font-size: 1.2em;
    }


    .ebooks2 {
        grid-template-columns: repeat(2, 1fr);
        padding: 0% 0% 2% 7%;
        grid-gap: 1%;
    }

    .tarjeta {
        padding: 2% 0% 5% 2%;
        max-width: 83%;
        height: 65%;
    }

    .tarjeta h2 {

        text-align: center;
        font: normal normal bold 1.8em Lato;
        color: #13427A;
    }

    .tarjeta ul {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 100%;
        padding: 0% 4% 5% 8%;
    }

    .tarjeta li {
        font-weight: 500 !important;
        text-align: left;
        font: 1.2em Lato;
        padding-bottom: 3.5%;
    }

    .ebooks2 form {
        width: 32%;
        top: 50%;
        right: 7%;
    }

    .ebooks2 form h2 {
        font: normal normal bold 2.5em Lato;
    }

    .ebooks2 form h3 {
        font: normal normal bold 1.3em Lato;
    }

    .ebooks2 form p {
        font: normal bold 1em Lato;
        padding: 3% 0%;
    }

    .form-gp {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        font: normal .9em Lato;
        align-items: center;
        padding: 1% 5%;
        box-sizing: border-box;
    }

    .input-gp {
        height: 2.6rem;
        font: normal 1em Lato;
    }

    .label-gp {
        font: normal 1.1em Lato;
        margin-bottom: 2%;
        color: #13427A;
        text-align: left;
    }

    .form-av {
        padding: 2.7% 5%;

    }

    #submitForm {
        padding: 3% 0%;
        text-align: center;
        background: #EA5329 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        border: 0;
        box-shadow: 0 .5rem 1rem rgba(255, 95, 9, 0.345) !important;
        font: normal normal 1em Lato;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
    }


}

/*Tablets dimensiones*/
@media screen and (max-width:1250px) {

    #ebooks>header {

        padding-left: 3%;
    }

    #ebooks header img {
        padding: .4% 0%;
        width: 35%;
        height: auto;
        z-index: 1;
        box-sizing: border-box;
    }

    .ebooks1 {
        padding: 2% 0% 9% 3%;
    }

    .ebooks1 h1 {
        font: normal normal bold 2.2em Lato;
        width: 58%;
    }

    .ebooks1 p {
        width: 54%;
        font-size: 1.1em;
    }


    .ebooks2 {
        grid-template-columns: repeat(2, 1fr);
        padding: 0% 0% 2% 7%;
        grid-gap: 1%;
    }

    .tarjeta {
        padding: 2% 0% 5% 2%;
        max-width: 83%;
        height: 65%;
    }

    .tarjeta h2 {

        text-align: center;
        font: normal normal bold 1.6em Lato;
        color: #13427A;
    }

    .tarjeta ul {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 100%;
        padding: 0% 4% 5% 8%;
    }

    .tarjeta li {
        font-weight: 500 !important;
        text-align: left;
        font: 1.1em Lato;
        padding-bottom: 3.5%;
    }

    .ebooks2 form {
        width: 32%;
        top: 12%;
        right: 7%;
    }

    .ebooks2 form h2 {
        font: normal normal bold 2.5em Lato;
    }

    .ebooks2 form h3 {
        font: normal normal bold 1.3em Lato;
    }

    .ebooks2 form p {
        font: normal bold 1em Lato;
        padding: 3% 0%;
    }

    .form-gp {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        font: normal .9em Lato;
        align-items: center;
        padding: 1% 5%;
        box-sizing: border-box;
    }

    .input-gp {
        height: 2.6rem;
        font: normal 1em Lato;
    }

    .label-gp {
        font: normal 1.1em Lato;
        margin-bottom: 2%;
        color: #13427A;
        text-align: left;
    }

    .form-av {
        padding: 2.7% 5%;

    }

    #submitForm {
        padding: 3% 0%;
        text-align: center;
        background: #EA5329 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        border: 0;
        box-shadow: 0 .5rem 1rem rgba(255, 95, 9, 0.345) !important;
        font: normal normal 1em Lato;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}

/*Celulares dimensiones*/
@media screen and (max-width:750px) {
    #ebooks>header {
        display: flex;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        width: 100%;
        max-width: 100%;
        height: auto;
        z-index: 10;
        box-sizing: border-box;
        padding-left: 0%;
        background-color: #ffffff;
        justify-content: center;
    }

    #ebooks header img {
        padding: 1.5%;
        width: 70%;
        height: auto;
        z-index: 1;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .ebooks1 {
        width: 100%;
        padding: 4% 2% 5% 2%;

    }

    .ebooks1 h1 {
        text-align: center;
        width: 100%;
        font: normal normal bold 1.7em Lato;
        padding: 2% 10%;
        box-sizing: border-box;
    }

    .ebooks1 p {
        width: 100%;
        text-align: center;
        font: normal normal 300 1em Lato;
        letter-spacing: 0px;
        color: rgb(232, 230, 230);
        opacity: 1;
        line-height: 1.7em;
        padding: 0% 4%;
        box-sizing: border-box;
    }

    .ebooks2 {

        grid-template-columns: repeat(1, 1fr);
        padding: 0% 0% 2% 0%;
        grid-gap: 0;
    }

    .ebooks2 article {

        display: flex;
        justify-content: center;
    }

    .tarjeta {
        padding: 2% 0% 5% 2%;
        opacity: 1;
        max-width: 90%;
        display: grid;
        justify-content: center;
        position: initial;
        margin-top: 0%;
        height: 70%;
        left: 0%;
        margin: 0;
    }

    .tarjeta ul {

        padding: 1% 5% 4% 5%;
    }

    .tarjeta h2 {

        font: normal normal bold 1.5em Lato;

    }

    .tarjeta li {
        font-weight: 500 !important;
        text-align: left;
        font: normal normal bold 1.3em Lato;
        padding-bottom: 5%;
        font-weight: 500 !important;
    }

    .tarjeta img {
        background: #F9FCFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #0000004D;
        border-radius: 10px;
        opacity: 1;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        width: 90%;
    }

    #ebooks>section.ebooks2>article:nth-child(1) {
        background-color: #1756A1;
    }

    #ebooks>section.ebooks2>article:nth-child(2) {
        background: rgb(23, 86, 161);
        background: linear-gradient(180deg, rgba(23, 86, 161, 1) 0%, rgba(23, 86, 161, 1) 48%, rgba(255, 255, 255, 1) 48%);
        padding: 10% 0% 10% 0% !important;
    }

    .ebooks2 form {
        padding: 1% 0%;
        background: #F9FCFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #0000004D;
        border-radius: 10px;
        opacity: 1;
        width: 90%;
        max-width: 100%;
        display: grid;
        justify-content: center;
        position: initial;
        top: 0;
        transform: translateY(0);
        left: 0;
        height: auto;
        align-items: center;
    }


    .ebooks3 {
        width: 100%;
        background-color: #13427A;
        backface-visibility: hidden !important;
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        padding: 2% 0%;
    }


}